@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

/* variables */
:root {
    --white: hsl(0, 0%, 100%);
    --lightgrey: hsl(212, 45%, 89%);
    --greyblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);
    --smalltext: 15px;
    --font: 'Outfit', sans-serif;
}

body {
    background-color: var(--lightgrey);
    font-family: var(--font);
}

main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    background-color: var(--white);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 7px 10px 43px -30px var(--darkblue);
    width: 20em;
    height: 32em;
}

img {
    border-radius: 10px;
    width: 100%;
}

article {
    text-align: center;
    padding: 5px;
}

h2 {
    color: var(--darkblue);
}

.smalltext {
    font-size: var(--smalltext);
    color: var(--greyblue);
}